body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar-thin-yellow {
    scrollbar-width: thin;
    scrollbar-color: #01015c transparent; /* For Firefox */

    &::-webkit-scrollbar {
      height: 1px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000080; /* Navy blue */
      border-radius: 10px;
    }
  }
}

@layer utilities {
  .scrollbar-thin-navy {
    scrollbar-width: thin;
    scrollbar-color: #000080 transparent; /* For Firefox */

    &::-webkit-scrollbar {
      height: 1px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000080; /* Navy blue */
      border-radius: 10px;
    }
  }
}

/* Add to your index.css or App.css */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

